spring:
  datasource:
    url: jdbc:mysql://localhost:3306/bab
    username: root

    password: ${MYSQL_PASSWORD}

    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: never
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        show_sql: true
        format_sql: true
        use_sql_comments: true
        hbm2ddl:
          auto: update
        default_batch_fetch_size: 1000
  servlet:
    multipart:
      enabled: true
      max-file-size: 20MB
      max-request-size: 20MB

security:
  jwt:
    token:
      secret-key: ${SECURITY_JWT_TOKEN_SECRET_KEY}
      expire-length: ${SECURITY_JWT_TOKEN_EXPIRE_LENGTH}

cloud:
  aws:
    credentials:
      access-key: ${AWS_S3_ACCESS_KEY}
      secret-key: ${AWS_S3_SECRET_KEY}
    region:
      static: ${AWS_REGION}
      auto: false
    stack:
      auto: false
    s3:
      bucket: ${AWS_S3_BUCKET}
      objectUrl: ${AWS_S3_OBJECT_URL}